<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <h:outputStylesheet name="css/main.css"/>
</h:head>
<h:body>
    <h:outputScript name="js/main.js"/>
    <h1>p-warlib</h1>
</h:body>
</html>
