<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<f:view>
    <div>
        <h1>mp-war2</h1>
        <p>Name: #{bean.name}</p>
        <h:form>
            <h:inputText value="#{bean.message}"/>
            <h:commandButton action="#{bean.setName}" value="Set Name"/>
        </h:form>
    </div>
</f:view>
</html>
